@font-face{font-family:'rezvan';src:url('fonts/Rezvan/Rezvan.ttf')format('truetype');}

html, body {
  white-space: nowrap;
  font-family:Rezvan,'Rezvan',tahoma;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;  
  background-color: #200F08;
background-image: url('bg.jpg');
background-position:top left;

background-repeat: no-repeat;
}

.align-center {
  text-align: center;
}

.row {
  direction: rtl;
  overflow: hidden;
  background-color:rgba(255, 255, 255, .9);
margin: 20px 0;
padding:0 10px;
}
.row:after {
  content: "";
  clear: both;

}
.col {
  padding: 0 20px;
  float: left;
  box-sizing: border-box;
}
.row .col.x-25 {
  width: 25%;
}
.row .col.x-35 {
  width: 35%;
}
.row .col.x-50 {
  width: 50%;
}
.row .col.x-65 {
  width: 65%;
}
.row .col.x-100 {
  width: 100%;
}

.content-wrapper {
  min-height: 100%;
  position: relative;
}

.qury-fc {
  max-width: 650px;
  margin: 0 auto;

          

}
.qury-fc .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 36px;
  line-height: 48px;
  padding-bottom: 48px;
}

.contact-form .form-field {
  position: relative;
  margin: 20px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #000;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  background-color: transparent;

}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label, .contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #888;
  cursor: text;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}
.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-family:Rezvan,'Rezvan',tahoma;
}

.sc-line{
  width: 1px;
  height: 90px;
  background-color: #eee;
  position: absolute;
  right: 50%;
  top: 60px;
}
.logo {
  width:70px;
  height:70px;
  background-color: #eee;
  border: 3px solid #eee;
  position: fixed;
  right: 11%;
  top: 50%;
  background-image: url('logo.png');
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 50%;
  -webkit-animation: at-ripple 0.6s linear infinite;
  animation: at-ripple 0.6s linear infinite;
}

.logo:hover img {
  opacity: 1;
}
.logo img{width: 70px;height:70px;  border-radius: 50%;  transition: opacity .5s linear;
opacity: 0;
}

.control {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
  top: 5px;

}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left:6px;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #0e647d;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b}
  .control-info{
    color: #949494;
position: absolute;
top: -40px;
right:0;
  }
  .control-field{
border-bottom: 2px solid #000000;

  }
  @-webkit-keyframes at-ripple {
    0% {
      box-shadow: 0 4px 10px #eee, 0 0 0 0 #eee, 0 0 0 5px #eee, 0 0 0 10px #eee;
    }
    100% {
      box-shadow: 0 4px 10px #eee, 0 0 0 5px #eee, 0 0 0 10px #eee, 0 0 0 20px rgba(102, 102, 102, 0);
    }
  }
  
  @keyframes at-ripple {
    0% {
      box-shadow: 0 4px 10px #eee, 0 0 0 0 #eee, 0 0 0 5px #eee, 0 0 0 10px #eee;
    }
    100% {
      box-shadow: 0 4px 10px #eee, 0 0 0 5px #eee, 0 0 0 10px #eee, 0 0 0 20px rgba(102, 102, 102, 0);
    }
  }